{% extends "index.html" %}

{% block header %}
<div class="hero hero-home col center" style="background-image: url('{{ get_url(path="img/plum-tree-2.jpg") }}'); min-height: 60vh;">
</div>
{% endblock header %}

{% block content %}
<main>
    <div class="page">
        <div class="col center">
            <div style="max-width: min(95vw, 1200px);">
                {% set introduction = get_page(path="introduction/intro.md") %}
                <h2 style="text-align:center;">{{ introduction.title }}</h2>
                {{ introduction.content | safe }}
                {% set about = get_page(path="introduction/about.md") %}
                {{ about.content | safe }}      
            </div>
        </div>
    </div>
</main>
{% endblock content %}
