<div id="map-container">

<style>
    path#path1 {
        fill: #bdbdbd
    }
</style>

<svg id="map-interactive" viewBox="0 0 210 297">
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <rect
       style="fill:#000000;stroke-width:0.264583"
       id="rect1936"
       width="32.159233"
       height="27.240765"
       x="70.750313"
       y="79.189156" />
    <rect
       style="fill:#000000;stroke-width:0.264583"
       id="rect1938"
       width="35.185986"
       height="20.808916"
       x="124.09682"
       y="78.432472" />
    <rect
       style="fill:#000000;stroke-width:0.264583"
       id="rect1940"
       width="24.970699"
       height="19.673885"
       x="47.292995"
       y="136.31911" />
    <rect
       style="fill:#000000;stroke-width:0.264583"
       id="rect1942"
       width="23.835669"
       height="17.782166"
       x="116.52993"
       y="139.34586" />
    </g>
</svg>

<div id="map-description">
    <div class="clic visible">
        <h1>Clic</h1>
        <p>This is a seagull:</p>
        <img src="/img/gull.svg"/>
        <p>On the main panel, you can see a large version of it, and this one is interactive.</p>
        <p>Clic on an area to get a description of it</p>
        <br>
    </div>
    {% set areas = get_section(path="map/_index.md") %}
    {% for area in areas.pages %}
    <div class="{{ area.slug }}">
        <h2>{{ area.title }}</h2>
        {{ area.content | safe}}
    </div>
    {% endfor %}
</div>

</div>

<script>
    let map = document.getElementById("map-interactive");
    let areas = map.children[0].children;
    console.log(areas)
    let description = document.getElementById("map-description");
    
    let current_selection = "clic";

    // handle click on item based on its id
    function handler(e) {
        let name = e.target.id
        console.log(name);
        toggleVisible(current_selection);
        current_selection = name;
        toggleVisible(current_selection);
    }

    // toggle visibility of description block
    function toggleVisible(name) {
        let block = description.getElementsByClassName(name);
        console.log(block)
        block[0].classList.toggle("visible");
    }

    // add onclick handlers to clickable areas
    for (let item of areas) {
        if (item.id != "rect1936") {
            item.onclick = handler;
        }
    }
    
</script>