<div id="map-container">

<style>
    path#path1 {
        fill: #bdbdbd
    }
</style>

<div id="map-description">
    <div class="clic visible">
        <h1>Interaktive Grafik</h1>
        <p>Unten siehst du eine schematische Darstellung eines Waldgartens. Klicke auf einzelne Elemente, um mehr zu erfahren.</p>
        <br>
    </div>
    {% set areas = get_section(path="map/_index.md") %}
    {% for area in areas.pages %}
    <div class="{{ area.slug }}">
        <h2>{{ area.title }}</h2>
        {{ area.content | safe}}
    </div>
    {% endfor %}
</div>

<object id="food-forest-diagram" data="../img/waldgarten-optimized-final.svg" type="image/svg+xml"></object>

</div>

<script>

    let map = document.getElementById("food-forest-diagram");
    let description = document.getElementById("map-description");
    let current_selection = "clic";

    function handler(name) {
        console.log(name);
        toggleVisible(current_selection);
        current_selection = name;
        toggleVisible(current_selection);
    }

    // toggle visibility of description block
    function toggleVisible(name) {
        let block = description.getElementsByClassName(name);
        console.log(block)
        block[0].classList.toggle("visible");
    }

    map.addEventListener("load", () => {
        map.contentDocument.getElementById("large-tree").addEventListener("click", () => {
            handler("large-tree")
        });
        map.contentDocument.getElementById("medium-tree-left").addEventListener("click", () => {
            handler("medium-tree-left")
        });
        map.contentDocument.getElementById("medium-tree-right").addEventListener("click", () => {
            handler("medium-tree-right")
        });
    });


    /*
    let areas = map.children[0].children;
    console.log(areas)
    let description = document.getElementById("map-description");
    
    let current_selection = "clic";

    // handle click on item based on its id
    function handler(e) {
        let name = e.target.id
        console.log(name);
        toggleVisible(current_selection);
        current_selection = name;
        toggleVisible(current_selection);
    }

    // toggle visibility of description block
    function toggleVisible(name) {
        let block = description.getElementsByClassName(name);
        console.log(block)
        block[0].classList.toggle("visible");
    }

    // add onclick handlers to clickable areas
    for (let item of areas) {
        if (item.id != "rect1936") {
            item.onclick = handler;
        }
    }
        */
    
</script>