{% extends "index.html" %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/interactive-map.css">
<!-- <script src="/javascript/mastodon-timeline.js"></script> -->
{% endblock extrahead %}

{% block header %}
<div class="hero" style="background-image: url(/img/seagulls.jpg); background-position-y: -350px; min-height: 30vh;">
</div>
{% endblock header %}

{% block content %}
<main>
    <div class="col center">
        {% include "custom/interactive-map.html" %}
    </div>
</main>
{% endblock content %}